.my-bookings {
    padding: 20px;
    text-align: center;
  }
  
  .my-bookings__heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .my-bookings__list {
    list-style: none;
    padding: 0;
  }
  
  .my-bookings__item {
    background-color: #f4f4f4;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  