.login-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .login-container {
    padding: 2rem;
    border: 1px solid var(--color-golden);
    font-family: var(--font-base);
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    backdrop-filter: blur(10px);
    z-index: 1;
    margin-top: 7rem;
  }
  
  .login-content {
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
  }
  
  .login-form input {
    width: 60%;
    max-width: 620px;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--color-golden);
    margin-bottom: 1.5rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
  }
  
  .login-button {
    font-family: var(--font-base);
    width: max-content;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-golden);
    color: var(--color-black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: var(--color-grey);
  }
  .switch-to-register-button {
    background-color:var(--color-golden);
    font-family: var(--font-base);
    color: #000;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .switch-to-register-button:hover {
    background-color: var(--color-grey);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background: var(--color-black);
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .modal-icon {
    font-size: 50px;
    color: var(--color-golden);
    margin-bottom: 10px;
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .modal h2 {
    color: var(--color-golden);
    margin-bottom: 10px;
    font-family: var(--font-base);
  }

  .modal p {
    color: var(--color-golden);
    font-family: var(--font-base);
  }

  @media screen and (max-width: 990px) {
    .login-container {
      width: 100%;
      padding: 2rem;
    }
  
    .login-form input {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    .login-container {
      padding: 2rem 0;
      border: none;
    }
  }
  